<%- include('admin/head'); %>
<%- include('admin/header'); %>
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Work productivity</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        
          <div class="card-body">
                    
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
           
          </div>
      </div>
</div>
<%- include('admin/script'); %>
<%- include('admin/footer'); %>