<!doctype html>
<html lang="id-ID">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistem Informasi Manajemen Kepegawaian RSUD dr. Abdul Aziz Singkawang">
    <meta name="author" content="Fakhry Hizballah">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:image" content="//cdn.example.com/uploads/images/webpage_300x200.png" />
    <title>
        <%= title %>
    </title>
    <link rel="manifest" href="/asset/js/manifest.json">
    <link rel="icon" type="image/x-icon" href="/asset/favicon.ico">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.8/sweetalert2.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/asset/css/install.css">
    <link rel="stylesheet" href="/asset/css/login.css">
   
</head>

<body>