<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="brand-link">
        <img src="/asset/img/Lambang_KotaSingkawang.webp" alt="Singkawang Logo"
            class="brand-image img-circle elevation-3" style="opacity: 0.8" />
        <span class="brand-text font-weight-light">RSUD dr. Abdul Aziz</span>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/asset/img/cowok.png" id="imgUser" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
                <a href="/profile" class="d-block">
                    <%= token.nama %>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="navbar" name="navbar">
                <!-- Add icons to the links using the .nav-icon class
                  with font-awesome or any other icon font library -->
                <li class="nav-item" id="laporan" name="laporan">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            LAPORAN KINERJA KARYAWAN
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview"id="ul_laporan" name="ul_laporan" >
                        <li class="nav-item">
                            <a href="/daily" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Laporan Harian</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/monthly" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Laporan Bulanan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Report" class="nav-link">
                                <i class="far fa-solid fa-arrow-trend-up nav-icon"></i>
                                <p>Rekapitulasi Laporan</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="documen" name="documen">
                    <a href="#" class="nav-link">
                        <i class=" nav-icon fa-regular fas fa-folder"></i>
                        <p>DOKUMEN PEGAWAI</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/profile" class="nav-link">
                                <i class="far fa-solid fa-dna nav-icon"></i>
                                <p>Biodata</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="cuti" name="cuti">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa-regular fas fa-calendar-alt"></i>
                        <p>CUTI</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/cuti" class="nav-link">
                                <i class="far fa-solid fa-bed nav-icon"></i>
                                <p>Permintaan Cuti</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="helpdesk" name="helpdesk">
                    <a href="/helpdesk" class="nav-link">
                        <i class="fa-solid fa-bug text-warning nav-icon"></i>
                        <p class="text">Helpdesk</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="fa-solid fa-right-from-bracket text-danger"></i>
                        <p class="text">Logout</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>